<div class="swipe-tabs">
  <div class="swipe-tab">
    <a [routerLink]="['/topstories']" routerLinkActive="active-route">
      <i class="fa fa-newspaper-o swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Top Stories</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/archive']" routerLinkActive="active-route ">
      <i class="fa fa-archive swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Archive</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/articlesearch']" routerLinkActive="active-route">
      <i class="fa fa-search swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Article Search</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/books']" routerLinkActive="active-route">
      <i class="fa fa-book swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Books</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/community']" routerLinkActive="active-route">
      <i class="fa fa-users swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Community</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/geographic']" routerLinkActive="active-route">
      <i class="fa fa-globe swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Geographic</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/mostpopular']" routerLinkActive="active-route">
      <i class="fa fa-fire swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Most Popular</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/moviereview']" routerLinkActive="active-route">
      <i class="fa fa-film swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Movie Reviews</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/semantic']" routerLinkActive="active-route">
      <i class="fa fa-eercast swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Semantic</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/timesnewwire']" routerLinkActive="active-route">
      <i class="fa fa-newspaper-o swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Times Newswire</p>
    </a>
  </div>
  <div class="swipe-tab">
    <a [routerLink]="['/timestags']" routerLinkActive="active-route">
      <i class="fa fa-tags swipe-tab-icon" aria-hidden="true"></i>
      <p class="tab-text">Times Tags</p>
    </a>
  </div>
</div>
<router-outlet> </router-outlet>
